:root {
    --min-display-size: min(25vw, 25vh);
}

.display {
    position: relative;
    width: calc( 0.4 * var(--min-display-size));
    height: calc(var(--min-display-size));
    margin: 2vh; /* 2% of viewport height */
}

.dial-container {
    display: flex;
}

.segment {
    position: absolute;
    background-color: #222;
    opacity: 0.1;
    transition: opacity 0.2s;
}

.on {
    opacity: 1;
    background-color: red;
}

/* Segment shapes and positions */
.a { top: 0; left: 10%; width: 80%; height: calc(0.05 * var(--min-display-size)); }
.b { top: calc(0.05 * var(--min-display-size)); right: 0; width: calc(0.05 * var(--min-display-size)); height: 40%; }
.c { bottom: calc(0.05 * var(--min-display-size)); right: 0; width: calc(0.05 * var(--min-display-size)); height: 40%; }
.d { bottom: 0; left: 10%; width: 80%; height: calc(0.05 * var(--min-display-size)); }
.e { bottom: calc(0.05 * var(--min-display-size)); left: 0; width: calc(0.05 * var(--min-display-size)); height: 40%; }
.f { top: calc(0.05 * var(--min-display-size)); left: 0; width: calc(0.05 * var(--min-display-size)); height: 40%; }
.g { top: 45%; left: 10%; width: 80%; height: calc(0.05 * var(--min-display-size)); }